body
{
    background-image: url(https://img.powerpoint.com.vn/uploads/2019/06/09/hinh-nen-powerpoint-vu-tru-mau-sac_092723116.jpg);
    background-size: cover;
    background-repeat: none;
    height:1160px;
}
h1
{
    font-size:50px;
    position: absolute;
    left:40%;
    color:#C4E91E;
}
h3
{
    font-size:50px;
    position: absolute;
    left:20%;
    top:10%;
    color:#E9791E;
}
.nga
{
    font-size:50px;
    position: a;
    left:40%;
    top:20%;
    color:#E9791E;
}
table{
          border: 3px solid greenyellow;
          padding: 5px;
          position: absolute;
          top:22%;
          left:3%;
        }
        table {
          border-spacing: 15px;
        }
td
{
border: 2px solid greenyellow;
width:500px;
}

.td2
{
    border:none;
    width:10000px;
}
.td3
{
    border: none;
    position: relative;
    left: 6%;
 
}

.td0
{
    border:none;
}
footer 
{ 
display: block;
position: absolute;
top:170%;
left:39%;

}
.a2
{
   font-size: 22px;
}